<%- include("top") %>
<section>
    <h1>
        Login Page
    </h1>
</section>
<main>
    <div>
        <form action="/" method="POST">
            <p>
                username : <input name="usernameField">
            </p>
            <input type="submit" value="login">
        </form>
    </div>
</main>
</body>
</html>